---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.svelte';
import Post from '../components/Post.svelte';
import GitHub from '../components/icons/GitHub.svelte';
import LinkedIn from '../components/icons/LinkedIn.svelte';
import Mail from '../components/icons/Mail.svelte';
---

<Layout title='Erick Saavedra' description='Website about Erick Saavedra'>
  <main class='px-4'>
    <SectionContainer className='pt-44 pb-10 flex justify-between'>
      <div>
        <h1 class='text-6xl font-black'>Hi, I'm Erick Saavedra!</h1>

        <p class='py-8'>
          Software Developer with JavaScript and Ruby experience
        </p>

        <nav class='flex gap-x-4'>
          <GitHub className='size-6' />
          <LinkedIn className='size-6' />
          <Mail />
        </nav>
      </div>

      <img
        class='rounded-full size-52 mb-4'
        src='/erick.jpg'
        alt='Erick Saavedra'
      />
    </SectionContainer>

    <hr class='h-px my-8 bg-gray-200 border-0 mx-auto w-[1120px]' />

    <SectionContainer className='pt-10 pb-10 grid grid-cols-3 gap-20'>
      <div class='articles col-span-2'>
        <h2 class='text-2xl font-bold text-slate-600 mb-4'>Recent posts</h2>

        <div class='flex flex-col gap-y-4'>
          <Post />
          <Post />
          <Post />
        </div>
      </div>

      <div class='works border-2 p-4 rounded-2xl'>
        <h2 class='text-2xl font-bold text-slate-600 mb-4'>Work</h2>

        <ul>
          <li>Disruptive Studio</li>
          <li>Bsale</li>
        </ul>
      </div>
    </SectionContainer>
  </main>
</Layout>
